# ┌───────────────────────────────────────────────
# │ Byte-compiled files and caches
# └───────────────────────────────────────────────
**/__pycache__/
*.py[cod]
*.so

# ┌───────────────────────────────────────────────
# │ mask cache
# └───────────────────────────────────────────────
**/_cache/

# ┌───────────────────────────────────────────────
# │ Data directories and archives
# └───────────────────────────────────────────────
datasets/
datasets.zip
detectron2/
exp/
img/

# ┌───────────────────────────────────────────────
# │ Pretrained model checkpoints
# └───────────────────────────────────────────────
pretrain/RN50.pt

# ┌───────────────────────────────────────────────
# │ Large files in utils
# └───────────────────────────────────────────────
utils/bpe_simple_vocab_16e6.txt.gz
